# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Get rid of VS stuff so that its not a pain for me to commit
x64/
.vs/
*.sln
*.vcxproj
*.filters
*.user

# Ignore default CMake build location
build/

# ignore program input
*.bsp

# ignore program output
*-LightmapUtilLog.txt
